/* GENERAL  */
  .description-produit {
    width: min(1578px, 100%);
    margin: 20px auto 0px;
  }
  :root {
    --color-red: #cf3034;
  }
  .flexboxspacebetween {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex-direction: column;
  }

/* FONT SIZE  */
h2 {
    font-size: clamp(12px, 3vw, 20px);
    font-weight: bold;
    line-height: 50px;
}
.voiraussi {
    font-size: clamp(12px, 3vw, 45px) ;
    font-weight: bold;
    margin: 52px 61px;
}
p {
    font-size: clamp(12px, 3vw, 20px) ;
}
.size30bold {
    font-size: clamp(12px, 3vw, 30px);
    font-weight: bold;
}
.size16px {
    font-size: 16px;
}
.descproduit {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    display: block;
}
.descproduit img {
    width: 250px;
}

/* MARGIN CLASSES  */
.top-margin {
    margin-top: 15px;
}
.bottom-margin {
    margin-bottom: 25px;
}
.bottomAndtop {
    margin: 15px 0 25px;
}

 /* ACCUEIL */
 .accueil-image  {
    min-height: 420px;
    max-width: 780px;
}
 .accueil-image img {
	width: 100%;
    object-fit: cover;

}
.texte {
    max-width: 517px;;
    text-align: left;
}

.avis {
    text-decoration: underline;
    font-size: clamp(10px, 3vw, 20px);  
    cursor: pointer; 
}
.svgXavis {
    justify-content: space-between;
}
.texte .panier {
    display: block;
    background: var(--color-black);
    min-width: 519px;
    min-height: 50px;
    font-size: 18px;
}
.color-clothes {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.texte .panier a {
    color: white;
}
.texte button a:hover {
opacity: 0.6;
}

.line0 {
    line-height: normal;
}
.echelledetaille {
margin: 0;
width: 150%;
}
/* SECTION VITRINE  */
.vitrine-images {
    display: flex;
    justify-content: space-evenly;
}

.same-height-columns {
    display: flex;
    justify-content: space-evenly;
    margin: 33px 61px; 
}
.same-height-columns__column {
    display: flex;
    flex-direction: column;
}
/* HOVER  */
.avis:hover,
.descproduit:hover,
.size16px:hover,
.color-clothes:hover,
.logos-size a:hover,
.same-height-columns__content a:hover
 {
    opacity: 0.5;
}
/* paragrapheResponsive */
.paragrapheResponsive {
    display: none;
    border: 2px solid black;
    min-width: 100%;
    min-height: 44px;
    padding-left: 25px;
 
}
/* RESPONSIVE BUTTONS */
.responsive-buttons {
    max-width: 100%;
    display: none;
}
.responsive-panier {
    display: flex;
    min-width: 152px;
    min-height: 33px;
    background-color: var(--color-black);
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.responsive-panier a{
    color: white;
}   
.selectTaille {
    background-color: white;
} 
.selectTaille a {
color: var(--color-black);
} 
/* detailsResponsive */
.detailsResponsive {
    text-align: center;
    margin-top: 55px;
    display: none;
}
.detailsResponsive p {
    text-align: center;
    margin-top: 46px;
    font-size: 19px;
    font-weight: bold;
}
.detailsResponsiveDescription p {
    font-size: 10px;
}
.details {
min-width: 152px;
min-height: 33px;
background-color: var(--color-black);
margin-top: 55px;

}
.details a,
.details i {
    color: white;
}
.afficherplusResponsive {
margin-top : 28px;
} 
/* RESPONSIVE THOMAS  */
/* @media (max-width: 428px) {  */
@media (max-width: 1286px) { 
.section {
    display: flex;
    flex-direction: column;
}
.flexboxspacebetween {
    max-width: 100%;   
    margin: 0 15px;
}   
.display-none {
    display: none;
}
.svgXavis {
    flex-direction: column-reverse;
    align-items: flex-start;
}
.size30bold {
    margin-top: 0;
}
.avis {
    display: inline;
    margin-top: 15px;
}
button .panier {
    width: 152px;
    height: 33px;
}
.texte .panier {
    display: none;
}
.responsive-buttons {
    display: flex;
    justify-content: space-between;
}
.PIG {
    justify-content: space-between;
}
.paragrapheResponsive {
display: flex;
align-items: center;
margin-bottom: 25px;
}
.detailsResponsive {
    display: block;
}
.voiraussi {
    display: none;
}
.same-height-columns__content {
    margin-top: 15px;
    text-align: center;
}
.same-height-columns__content .fa-heart{
    display: none;
}
.same-height-columns__column img{
    min-width: 129px;
    min-height: 147px;
}
}


    