
/* FONT  */

h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 39px 0;
}
h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
h4 {
  font-size: 34px;
}
p {
  font-size: 20px;
  margin-bottom: 15px;
}
hr {
  margin: 10px 0;
  width: 100%;
}
.little {
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.medium {
  font-size: 15px;
}
.special {
  font-size: 13px;
  color: #808080;
}
.infos-container,
.bloc {
  border: 2px solid black;
}
/* DISPLAY FLEX  */
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flexboxspacebetween {
  display: flex;
  justify-content: space-between;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* MARGES  */
.bottom-margin {
  margin-bottom: 25px;
}
.label {
  margin: 0 10px;
}
.margin {
  min-height: 156px;
  width: 561px;
  align-items: flex-start;
  margin: 0 166px 39px;
  padding: 25px;
}
main form {
    border: 1px solid black;
    font-size: 13px;
    text-align: center;
    width: 146px;
    height: 34px;
}
.center {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  cursor: pointer;
}
.bloc {
    width: 423px;
    padding: 25px;
    align-items: flex-start;
}
.valider {
    width: 362px;
    height: 63px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 25px;
    border: none;
}
.valider:hover {
  background-color: var(--color-red);
}

.livraison {
    width: 366px;
    height: 40px;
    background: #d9d9d9;
    border: none;
    font-size: 18px;
}
.classewidth {
    justify-content: space-between;
    width: 100%;
}
.CVC,
label,
.special {
    margin: 0 auto;
}
.special {
    text-align: center;
}
.modepaiement {
    width: 100%;
}

.center {
  margin: 0 auto;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 850px) {

  .parent {
    flex-direction: column;
  }
  
}