#categorie_femme {
    padding: 0 60px;
}


#categorie_femme h3 {
    font-size: clamp(23px, 3vw, 40px);
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

/* MARGIN between div */
.margin_btw_div {
    margin: 100px auto;
}

/* Background image parametres */
.bg-img_param {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}


/* POLYESTER RECYCLÉ */
.polyester_recycle {
    height: 460px;
    /* CHANGEMENT */
    background-image: url(images/polyester.jpeg);
}

/* VTMTS HIVER */
.vetements_hiver {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px
}

.vtmts_hiver_dim {
    width: 100%;
    height: 430px;
}

.vtmts_soiree {
    background-image: url(images/vetements_de_fete.jpeg);
}

.vtmts_chauds {
    background-image: url(images/vetements_chaud.jpeg);
}

/* COTON BIO */
.coton_bio {
    background-image: url(images/coton_bio.jpeg);
    height: 430px;
}

.categories_type_insta {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

}

.categories_type_insta div {
    height: 430px;
}

.tops {
    background-image: url(images/tops.jpeg);
}

.bas {
    background-image: url(images/bas.jpeg);
}

.robes {
    background-image: url(images/robes.jpeg);
}

.vestes {
    background-image: url(images/vestes.jpeg);
}

.manteaux {
    background-image: url(images/manteaux.jpeg);
}

.tout {
    background-image: url(images/tout.jpeg);
}

@media (max-width: 870px) {

    #categorie_femme {
        padding: 0 25px;
    }

    .margin_btw_div {
        margin: 60px auto;
    }

    .vetements_hiver {
        flex-direction: column;
    }

    .categories_type_insta div {
        height: 250px;
    }

}


@media (max-width: 730px) {
    .categories_type_insta div {
        height: 220px;
    }
}

@media (max-width: 440px) {

    .categories_type_insta div {
        height: 120px;
    }

    .polyester_recycle,
    .vtmts_soiree,
    .vtmts_chauds,
    .coton_bio {
        height: 270px;
    }
}